/* анімація для списку з посиланнями на сторінки */

@keyframes head {
  0% {
    transform: translateY(-400%);
  }
  100% {
    transform: translateY(0);
  }
}
/* анімація для написи off */
@keyframes col {
  from {
    color: red;
  }
  to {
    color: var(--text-color);
  }
}
/* анімація для напису із зазначенням сторінки */
@keyframes li {
  from {
    opacity: 0;
    scale: 0;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}
