@keyframes head {
    0% {
      transform: translateY(-400%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes col {
    from {
      color: red;
    }
    to {
      color: var(--text-color);
    }
  }
  