:root {
  --bg-color: #fff;
  --text-color: #000;
  --text-color-accent: red;
  --bs-color: rgba(0, 0, 0, 0.15);
  --filter: invert(65%);
  /* --font-main: "Roboto", sans-serif; */
  --font-main: "Montserrat", sans-serif;
  --fs-main: 16px;
  --mar-top: 300px;
  --header-h: 131px;
  --nav-h: 200px;
  scroll-behavior: smooth;

  /* внесення змін у зв'язку з вимогами до уроку 6 */
  /* --primary-text-color: #000;
  --primary-bg-color: #fff;
  --primary-font-family: "Roboto", sans-serif;
  --primary-font-size: 0.875rem; */
  /* ... */
}

[dark] {
  --bg-color: #333;
  --text-color: #eee;
  --bs-color: rgba(127, 118, 118, 0.55);
  --text-color-accent: #27ae60;
  --light: brightness(50%);
}

* {
  margin: 0;
  padding: 0;
}

/* внесення змін у зв'язку з вимогами до уроку 5 */
a {
  text-decoration: none;
}
/*  */
footer {
  --footer-text-color: #fff;
  --footer-bg-color: #000;
}
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  :root {
    --fs-main: 14px;
  }
}
@media (max-width: 820px) {
  :root {
    --fs-main: 12px;
  }
}
@media (max-width: 620px) {
  :root {
    --fs-main: 10px;
  }
}
@media (max-width: 420px) {
  :root {
    --fs-main: 8px;
  }
}
