:root {
  --bg-color: #fff;
  --text-color: #000;
  --text-color-accent: red;
  --bs-color: rgba(0, 0, 0, 0.15);
  --font-main: "Roboto", sans-serif;
  /* --font-main: "Montserrat", sans-serif; */
  /* --fs-main: 18px; */
  /* внесення змін у зв'язку з вимогами до уроку 5 */
  --primary-font-family: "Roboto", sans-serif;
  --primary-font-size: 0.875rem;
  /* ... */
}

[dark] {
  --bg-color: #333;
  --text-color: #eee;
  --bs-color: rgba(127, 118, 118, 0.55);
  --text-color-accent: #27ae60;
}

* {
  margin: 0;
  padding: 0;
}
html {
  --primary-text-color: #000;
  --primary-bg-color: #fff;
}
/* внесення змін у зв'язку з вимогами до уроку 5 */
a {
  text-decoration: none;
}
/*  */
footer {
  --footer-text-color: #fff;
  --footer-bg-color: #000;
}
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
