@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap");
@import url("reset.css");
@import url("common.css");
@import url("animation.css");
@import url("elements/header.css");
@import url("elements/descr.css");
@import url("elements/footer.css");

/* "Липкий" footer */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
}
.main {
  flex: auto;
}
.footer {
  flex-shrink: 0;
  background-color: var(--bs-color);
}
