/* тимчасово закоментував у зв'язку з вимогами до виконання уроків */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("reset.css");
@import url("common.css");
@import url("presets.css");
@import url("animation.css");
@import url("elements/header.css");
@import url("elements/descr.css");
@import url("elements/about.css");
@import url("elements/cart.css");
@import url("elements/login.css");
@import url("elements/modal.css");
@import url("elements/footer.css");
@import url("elements/categories.css");

/* "Липкий" footer */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
  font-size: var(--fs-main);

  /* внесення змін у зв'язку з вимогами до уроку 5 */
  /* font-family: var(--primary-font-family);
  font-size: var(--primary-font-size); */
  /* ... */
}

.main {
  flex: auto;
  transition: margin-top 0.5s ease;
}
.main.active {
  margin-top: calc(var(--nav-h) - var(--header-h) + 10px);
}
.footer {
  flex-shrink: 0;
  background-color: var(--bs-color);
}

/* внесення змін у зв'язку з вимогами до уроку 5 */
h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 1.45rem;
}
h2 {
  font-size: 1.3rem;
}

.footer-social {
  margin-bottom: 5px;
}

.list-unstyled {
  list-style: none;
}
.list-unstyled > li a {
  font-size: 1.4em;
}
.list-unstyled > li a:hover {
  animation: social 1s forwards;
}
