
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("reset.css");
@import url("common.css");
@import url("presets.css");
@import url("animation.css");
@import url("elements/header.css");
@import url("elements/descr.css");
@import url("elements/about.css");
@import url("elements/favorites.css");
@import url("elements/cart.css");
@import url("elements/login.css");
@import url("elements/modal.css");
@import url("elements/footer.css");
@import url("elements/categories.css");
@import url("elements/dialog.css");


body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
  font-size: var(--fs-main);
}

::-webkit-scrollbar {
  width: 10px; 
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #666; 
}
::-moz-scrollbar {
  width: 10px;
}
::-moz-scrollbar-thumb {
  background-color: #666; 
}

.main {
  flex: auto;
  transition: margin-top 0.5s ease;
  margin-bottom: 20px;
}
.main.active {
  margin-top: calc(var(--nav-h) - var(--header-h) + 10px);
}
.footer {
  flex-shrink: 0;
  background-color: var(--bs-color);
}


h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 1.45rem;
}
h2 {
  font-size: 1.3rem;
}

.footer-social {
  margin-bottom: 5px;
}

.list-unstyled {
  list-style: none;
}
.list-unstyled > li a {
  font-size: 1.4em;
}
.list-unstyled > li a:hover {
  animation: social 1s forwards;
}
