*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  pointer-events: none;
}
/* тимчасово закоментував у зв'язку з вимогами до виконання уроків */
a {
  color: inherit;
  /* text-decoration: none; */
}

li {
  list-style: none;
}
