@import url("/css/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background: #696969;
  color: #eee;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.header {
  margin-bottom: 25px;
  box-shadow: 0 0 10px #eee;
}
.header__wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  font-weight: 700;
  text-shadow: -10px 10px 20px #2c2c2c, 10px -10px 20px #aaaaaa;
}
.header__link {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 12px;
  transition: all 0.5s;
}
.header__link:hover {
  border: 1px solid transparent;
  background: linear-gradient(225deg, #5f5f5f, #707070);
  box-shadow: -10px 10px 20px #565656, 10px -10px 20px #7c7c7c;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  display: flex;
  margin-bottom: 100px;
}
.swiper-slide {
  padding: 25px;
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.btn__wrapper {
  display: flex;
  gap: 25px;
}

.s-button-prev,
.s-button-next {
  color: inherit;
  font-size: 24px;
  background: transparent;
  padding: 10px 15px;
  border: 1px solid grey;
  border-radius: 12px;
  transition: all 0.5s;
}
.s-button-prev:hover,
.s-button-next:hover {
  color: #363636;
  border: 1px solid transparent;
  background: linear-gradient(225deg, #5f5f5f, #707070);
  box-shadow: -10px 10px 20px #565656, 10px -10px 20px #7c7c7c;
}

.slide__content {
  cursor: pointer;
  background: transparent;

  border: 1px solid grey;
  border-radius: 12px;
  transition: all 0.5s;
}
.slide__content:hover {
  border: 1px solid transparent;
  background: linear-gradient(225deg, #5f5f5f, #707070);
  box-shadow: -10px 10px 20px #565656, 10px -10px 20px #7c7c7c;
}

.lecture__week-item {
  padding: 10px 15px;
}

.week__content-wrapper {
  width: 100%;
}
.week__content {
  width: 100%;
  opacity: 0;
  animation: week 0.5s forwards;
}
.week__content.selected {
  animation: week-check 0.5s forwards;
  width: 100%;
}
.lecture__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
}
.list__item-link {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 15px;
  border: 1px solid grey;
  border-radius: 12px;
  transition: all 0.5s;
}

.list__item-link:hover {
  border: 1px solid transparent;
  background: linear-gradient(225deg, #5f5f5f, #707070);
  box-shadow: -10px 10px 20px #565656, 10px -10px 20px #7c7c7c;
}

@keyframes week-check {
  from {
    transform: translateX(-200%);
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes week {
  from {
    opacity: 0;
    transform: translateX(0%);
  }
  25% {
    opacity: 0;
  }
  to {
    opacity: 0;
    transform: translateX(-200%);
  }
}
