.table {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 8px;
  border: 1px solid #000;
}

.row__header {
  font-weight: bold;
  background-color: transparent;
}
.cart__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.pricing__wrapper {
  padding: 2rem;
}
.pricing__title {
  margin-bottom: 2rem;
}
.action__button {
  cursor: pointer;
  border-radius: 14px;
  padding: 0.575rem;
}
.quan__decr,
.quan__incr {
  cursor: pointer;
  border-radius: 8px;
  width: 1.5rem;
  height: 1.5rem;
}

.price::after,
.total::after,
.pricing__totat::after {
  content: "$";
}
