.main__title {
  letter-spacing: 0.275em;
  animation: extension 2s forwards;
}
#table__wrapper {
  width: 100%;
  margin: 0 auto;
  display: table;
  box-shadow: 0px 10px 40px 0px var(--bs-color);
  text-align: center;
}
.row_header {
  font-weight: 600;
  background-color: var(--bs-color);
}
.row {
  display: table-row;
}
.row:nth-of-type(even) {
  background-color: var(--bs-color);
  filter: contrast(3);
}
.cell {
  padding: 5px 10px;
  display: table-cell;
}
