aside {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-white {
  color: var(--text-color);
}
.list-unstyled.categories li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.2rem;
  transition: all 0.3s;
}
.list-unstyled.categories li a:hover {
  font-size: 1.5rem;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.product__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product__content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}
.product__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 250px;
  gap: 30px;
  padding: 30px;
  border: 1px solid var(--text-color);
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: all 1s ease;
  /*  */
  position: relative;
}
.icons__wrapper {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
}
.item__favorite,
.item__info-icon {
  transition: all 0.3s ease-in-out;
}
.item__favorite:hover,
.item__info-icon:hover {
  color: red;
}
.added {
  color: aqua;
}

.item__btn-buy {
  right: 10px;
  bottom: 10px;
}
.btn-delete-favorite {
  left: 10px;
  bottom: 10px;
}
.item__btn-buy,
.btn-delete-favorite {
  position: absolute;
  color: var(--text-color);
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid var(--text-color);
  padding: 10px 20px;
  cursor: pointer;
}
.products__wrapper {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card__img {
  position: absolute;
  width: 204px;
  height: 194px;
  z-index: -1;
}
.item__title,
.item__price {
  filter: brightness(20%);
}
