.descr__title {
  color: var(--page-bg);
  line-height: 100%;
  font-size: 65px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
}
.descr__title-item {
  display: flex;
  flex-direction: row;
}
/* блок з анімацією заголовка сторінки */
.title__item {
  animation: li 1.5s forwards;
  opacity: 0;
}
