/* блок footer */
.footer__wrapper {
  padding: 20px 0;
}

.license {
  flex-basis: 150px;
}
.license__text {
  font-size: calc(var(--fs-main) - 6px);
}
.footer__link {
  gap: 45px;
  font-size: calc(var(--fs-main) - 4px);
}

.list__name {
  font-size: calc(var(--fs-main) - 2px);
  font-weight: 700;
}
