/* блок footer */
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.license {
  flex-basis: 150px;
}
.license__text {
  font-size: calc(var(--fs-main) - 6px);
}
.link__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: calc(var(--fs-main) - 4px);
}
.list__name {
  font-size: calc(var(--fs-main) - 2px);
  font-weight: 700;
}
