.form__wrapper {
  width: 100%;
}
.login__form {
  margin: 0 auto;
  max-width: 500px;
  border-radius: 12px;
  padding: 10px 25px;
  box-shadow: 0px 10px 40px 0px var(--bs-color);
}
.inp {
  color: var(--text-color);
  background-color: transparent;
  border: 1px solid var(--bs-color);
  border-radius: 12px;
  padding: 10px 25px;
}
.btn__wrapper {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 45px;
}
.btn {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.btn:hover {
  opacity: 1;
}
.btn__text {
  font-size: 0.6em;
}
.btn__text span {
  color: var(--text-color-accent);
  filter: brightness(50%);
  cursor: pointer;
  transition: all 0.3s;
}
.btn__text span:hover {
  font-size: 0.675rem;
}
